body{
    font-family: 'courier new', courier, monospace;
    color:blue;
    background-color: burlywoodn                                                                                                                                                                                                              ;
    }
    

div.header{
color: black;
text-align: center;
  }

  div.content{
      color:black;

  }

  p {
    font-family: verdana;
  }

  p.T {
    font-size: 60px;
  }