body {
    width:80%;
    margin:auto;
  }
  
  h1{
  font-family: 'courier new', courier, monospace;
  color:blue;
  }
  
  div.header {
    margin:
    background-image: 
    width
    height
    text-align
    padding-top:
  }
  
  div.left
  
  div.center
  
  div.right